html, body, .container{
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
}
body{
	overflow-y: scroll;
	background: hsl(0, 0%, 20%);
}
*, *:before, *:after{
	box-sizing: border-box;
}
.splitlayout{
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

.side{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	backface-visibility: hidden;
}
.open-left .side,
.open-right .side{
	cursor: default;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.side-left .overlay{
	background: hsla(0, 0%, 0%, 0.7);
}
.side-right .overlay{
	background: hsla(0, 0%, 0%, 0.3);
}
.side-left{
	left: 0;
	background: hsl(220, 40%, 40%);
	color: hsl(0, 0%, 100%);
	outline: 1px solid hsl(220, 40%, 40%);
}
.side-right{
	right: 0;
	background: hsl(0, 0%, 100%);
	color: hsl(220, 40%, 40%);
	outline: 1px solid hsl(0, 0%, 100%);
}

.intro-content{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 1em;
	width: 50%;
	cursor: pointer;
	transform: translateY(-50%) translateX(-50%);
}
.profile{
	margin: 0 auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: hsl(220, 70%, 80%);
}
.profile img{
	max-width: 100%;
	opacity: 0.6;
	margin-top: 10px;
}
.intro-content h1 > span{
	display: block;
	white-space: nowrap;
}
.intro-content h1> span:first-child{
	font-weight: 300;
	font-size: 2em;
}
.intro-content h1> span:nth-child(2){
	position: relative;
	margin-top: 0.5em;
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}
.intro-content h1 > span:nth-child(2):before{
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: hsl(0, 0%, 100%);
	content: '';
}
.side-right > .intro-content h1 > span:nth-child(2):before{
	background: hsl(220, 40%, 40%);
}

.back{
	position: fixed;
	top: 2.6em;
	z-index: 500;
	display: block;
	visibility: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: hsl(220, 40%, 40%);
	text-align: center;
	font-size: 22px;
	line-height: 44px;
	opacity: 0;
	pointer-events: none;
	text-decoration: none;
}
.mobile-layout .back{
	position: absolute;
}
.back-left{
	left: 12.5%;
	transform: translateX(-50%);
}
.back-right{
	right: 12.5%;
	transform: translateX(50%);
	color: hsl(0, 0%, 100%);
}
.open-right .back-left,
.open-left .back-right{
	visibility: visible;
	opacity: 1;
	transition-delay: 0.3s;
	pointer-events: auto;
}
.back:hover{
	color: hsl(0, 0%, 80%);
}

.page{
	position: relative;
	top: 0;
	overflow: auto;
	min-height: 100%;
	width: 75%;
	height: auto;
	font-size: 1.4em;
	backface-visibility: hidden;
}
.page-right{
	left: 25%;
	color: hsl(180, 80%, 20%);
	font-weight: 700;
	outline: 5px solid hsl(192, 2%, 95%);
	background: hsl(192, 2%, 95%);
	transform: translateX(100%);
}
.splitlayout.open-right{
	background: hsl(192, 2%, 95%);
}
.page-left{
	left: 0;
	outline: 5px solid hsl(249, 49%, 37%);
	background: hsl(249, 49%, 37%);
	color: hsl(0, 0%, 100%);
	text-align: right;
	transform: translateX(-100%);
}
.splitlayout.open-right{
	background: hsl(249, 49%, 37%);
}

.page-inner{
	padding: 2em;
	min-height: 100vh;
}
.page-inner section{
	padding-bottom: 1em;
}
.page-inner h2{
	margin: 0 0 1em 0;
	font-weight: 300;
	font-size: 2.4em;
}
.page-inner p{
	font-weight: 300;
	font-size: 1.2em;
}
/* All transition*/
.side, .page{
	transition: transform 0.6s;
}
.overlay{
	transition: opacity 0.6s, visibility 0.1s 0.6s;
}
.intro-content{
	transition: transform 0.6s, top 0.6s;
}
.intro-content h1, .back{
	transition: opacity 0.3s;
}
/* Open and close */
.reset-layout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right{
	position: absolute;
	overflow: hidden;
	height: 100%;
}
.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left{
	position: relative;
	overflow: auto;
	height: auto;
}
.open-right .side-left .overlay,
.open-left .side-right .overlay{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}

.open-right .side-left{
	transform: translateX(-60%) scale(0.3);
}
.open-right .side-right{
	z-index: 200;
	transform: translateX(-150%);
}
.close-right .side-right{
	z-index: 200;
}
.open-right .side-right .intro-content{
	transform: translateY(-50%) translateX(0%) scale(0.6);
}
.open-right .page-right{
	transform: translateX(0%);
}

.open-left .side-right{
	transform: translateX(60%) scale(0.3);
}
.open-left .side-left{
	z-index: 200;
	transform: translateX(150%);
}
.close-left .side-left{
	z-index: 200;
}
.open-left .side-left .intro-content{
	transform: translateY(-50%) translateX(-100%) scale(0.6);
}

.open-left .page-left{
	transform: translateX(0%);
}

@media screen and (max-width: 83em){
	.intro-content{font-size: 60%;}
}
@media screen and (max-width: 58em){
	body{font-size: 90%;}
}
@media screen and (max-width: 49.4375em){
	.open-right .side-right{
		transform: translateX(-175%);
	}
	.open-right .side-left{
		transform: translateX(-100%);
	}
	.open-left .side-right{
		transform: translateX(100%);
	}
	.open-left .side-left{
		transform: translateX(175%);
	}
	.page{
		width: 100%;
	}
	.page-right{
		left: 0;
		padding-left: 15%;
	}
	.page-left{
		padding-right: 15%;
	}
	.intro-content{
		width: 100%;
	}
	.open-right .side-right .intro-content{
		top: 100%;
		padding: 0;
		transform: translateY(-150px) translateX(-12.5%) scale(0.5);
	}
	.open-left .side-left .intro-content{
		top: 100%;
		padding: 0;
		transform: translateY(-150px) translateX(-87.5%) scale(0.5);
	}
	.open-right .intro-content h1,
	.open-left .intro-content h1{
		opacity: 0;
	}
	.back-left{
		left: 6.25%;
	}
	.back-right{
		right: 6.25%;
	}
}
@media screen and (max-width: 42.5em){
	body{font-size: 80%;}
	.intro-content{font-size: 50%;}
}
@media screen and (max-height: 41.125em){
	.intro-content{
		transform: translateY(-25%) translateX(-50%);
	}
}
@media screen and (max-width: 39.375em){
	.intro-content .profile{ transform: scale(0.5);}
}
@media screen and (max-width: 320px){
	body{ font-size: 70%;}
}