.slider{ overflow: hidden; display: inline-block;}
.slider .content{ position: relative;}
.slider .content .page{ float: left;}
.page{
	width: 500px; 
	height: 450px; 
	border-right: 2px; 
	box-shadow: inset 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
	background-repeat: no-repeat;
	background-size: cover;
}
.page:nth-child(1){
	background-image: url("https://dl.dropboxusercontent.com/u/50502234/arcanine.png");
}
.page:nth-child(2){
	background-image: url("https://dl.dropboxusercontent.com/u/50502234/articuno.png");
}
.page:nth-child(3){
	background-image: url("https://dl.dropboxusercontent.com/u/50502234/suicune.png");
}
.page:nth-child(4){
	background-image: url("https://dl.dropboxusercontent.com/u/50502234/dragonair.png");
}